# This is a basic workflow to help you get started with Actions
name: Fetch TV-FM Files

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch: {} # Enables manual triggering

permissions:
  contents: write

jobs:
  download_and_commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Channel M3U file
        run: wget https://opop.pro/YRHV3D5jWnbRhX -O "channel playlist.m3u"

      - name: Download Channel XML file
        run: wget https://opop.pro/UWdMpvUNVYKr -O "channel playlist.xml"

      - name: Add files to Git
        run: |
          git add "channel playlist.m3u"
          git add "channel playlist.xml"

      - name: Check for changes before commit
        id: changes
        run: |
          if git diff --cached --quiet; then
            echo "no changes"
            echo "changes_detected=false" >> $GITHUB_ENV
          else
            echo "changes_detected=true" >> $GITHUB_ENV
          fi

      - name: Commit changes if any
        if: env.changes_detected == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "Updated channel playlist files (XML and M3U)"

      - name: Force push changes if commit happened
        if: env.changes_detected == 'true'
        run: |
          git push origin main --force
